<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complex</title>
</head>
<body>
    <h3>{{student}}</h3> <br>

    {{student.stu1}} <br>
    {{student.stu2}} <br>
    {{student.stu3}} <br>
    {{student.stu4}} <br><br>  
    {{student.stu1.name}} 
    {{student.stu1.roll}} <br> <br>
    {{student.stu2.name}} 
    {{student.stu2.roll}} <br> <br>
    {{student.stu3.name}} 
    {{student.stu3.roll}} <br> <br>
    {{student.stu4.name}} 
    {{student.stu4.roll}} <br><br>

    {% for key, value in stu.items %}
    {{ key }} <br> 
    {% for k,v in value.items%}
    {{ k }} = {{ v }} <br>
    {% endfor %}
    {% endfor %}

  

</body>
</html>